<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.blobcache.blobcache</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>/bin/rm -f __TMPDIR__/blobcache.sock; exec /usr/local/bin/blobcache daemon --config __HOME__/.config/blobcache --state __HOME__/.local/share/blobcache --serve-ipc __TMPDIR__/blobcache.sock --net 0.0.0.0:6025</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>__HOME__/Library/Logs/blobcache.log</string>
    <key>StandardErrorPath</key>
    <string>__HOME__/Library/Logs/blobcache.log</string>
</dict>
</plist>
